.obsidian/workspace.json
.trash
.obsidian/plugins/obsidian-completr/scanned_words.txt 
Private/帐号.md
日记.md
日记.md
2026操作系统.pdf
张宇1000 强化 在72页.pdf
2026操作系统-ocr.pdf
张宇1000 强化 在72页 综合在155.pdf
/教材
2026计算机网络.pdf
2026计算机组成原理.pdf
2026数据结构.pdf